.kanban-column {
  width: 400px;
  max-width: 100%;
  margin: 0 24px 24px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #fafbfc;
  padding: 8px;
  padding-right: 0;
  border: solid thin #e1e4e8;
  border-radius: 6px;
}

.kanban-column-label {
  font-size: 16px;
  font-weight: 500;
  padding: 0 4px;
}

.kanban-column-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.kanban-column-scrollable {
  height: calc(100% - 30px);
}

.kanban-todos-badge {
  color: #6a737d;
  padding: 0 8px;
  font-weight: 500;
  text-align: center;
  background-color: #d1d5da80;
  border-radius: 2em;
  font-size: 12px;
  border: thin solid transparent;
}

.kanban-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
}

.kanban-box {
  padding: 8px;
  padding-left: 32px;
  margin: 8px 0;
  margin-right: 12px;
  border-radius: 6px;
  border: solid thin #e1e4e8;
  display: flex;
  flex-direction: row;
  cursor: move;
  background: white;
  min-height: 60px;
  position: relative;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kanban-list.cdk-drop-list-dragging .kanban-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kanban-custom-placeholder {
  background: #cccccc;
  border: solid 2px #999999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 6px;
  margin-right: 12px;
}

.kanban-note-icon {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #6a737d;
}
