<div class="container mx-auto flex justify-center items-center h-full">
  <form [formGroup]="form" class="border border-solid rounded px-10 py-5">
    <fieldset class="flex flex-col">
      <legend class="w-full text-center text-2xl mb-8 legend relative">Sign Up to YAK</legend>
      <mat-form-field class="w-full mb-2">
        <mat-label>Username:</mat-label>
        <input matInput name="username" formControlName="username" autocomplete="off" autofocus tabindex="1" />
        <mat-error *ngIf="form.controls.username.touched && form.controls.username.invalid">
          <span *ngIf="form.controls.username.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full mb-2">
        <mat-label>Email:</mat-label>
        <input matInput name="email" formControlName="email" autocomplete="off" autofocus tabindex="2" type="email" />
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <span *ngIf="form.controls.email.errors.email">Email is incorrect.</span>
          <span *ngIf="form.controls.email.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password:</mat-label>
        <input matInput name="password" formControlName="password" type="password" autocomplete="off" tabindex="3" />
        <mat-error *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <span *ngIf="form.controls.password.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
    </fieldset>
    <div class="w-full flex justify-between mt-6">
      <button tabindex="5" mat-raised-button color="secondary" routerLink="login">
        <mat-icon>arrow_back</mat-icon>
        Back to Login
      </button>
      <div class="w-32"></div>
      <button tabindex="4" mat-raised-button color="primary" (click)="register()">
        Sign Up
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </form>
</div>
